#content {
    margin: auto;
    max-width: 40em;
}

.indent-0 {
    padding-left: 0em;
}

.indent-1 {
    padding-left: 1em;
}

.indent-2 {
    padding-left: 2em;
}

.indent-3 {
    padding-left: 3em;
}

.indent-4 {
    padding-left: 4em;
}

.indent-5 {
    padding-left: 5em;
}

.indent-6 {
    padding-left: 6em;
}

.fa-check-square {
    color: green;
}

.completed-by {
    padding-left: 14em;
}